body {
  background-color: #222222;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100%25 100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,800,378)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231a314a'/%3E%3Cstop offset='0.02' stop-color='%23222222'/%3E%3Cstop offset='0.02' stop-color='%230676d8'/%3E%3Cstop offset='0.032' stop-color='%23222222'/%3E%3Cstop offset='0.032' stop-color='%23084a97'/%3E%3Cstop offset='0.056' stop-color='%23222222'/%3E%3Cstop offset='0.056' stop-color='%230c539a'/%3E%3Cstop offset='0.07' stop-color='%23222222'/%3E%3Cstop offset='0.07' stop-color='%23153c63'/%3E%3Cstop offset='0.1' stop-color='%23222222'/%3E%3Cstop offset='0.1' stop-color='%231c202e'/%3E%3Cstop offset='0.126' stop-color='%23222222'/%3E%3Cstop offset='0.126' stop-color='%231e252f'/%3E%3Cstop offset='0.142' stop-color='%23222222'/%3E%3Cstop offset='0.142' stop-color='%231f242c'/%3E%3Cstop offset='0.159' stop-color='%23222222'/%3E%3Cstop offset='0.159' stop-color='%23114a81'/%3E%3Cstop offset='0.17' stop-color='%23222222'/%3E%3Cstop offset='0.17' stop-color='%230c2155'/%3E%3Cstop offset='0.197' stop-color='%23222222'/%3E%3Cstop offset='0.197' stop-color='%23101237'/%3E%3Cstop offset='0.218' stop-color='%23222222'/%3E%3Cstop offset='0.218' stop-color='%23182b46'/%3E%3Cstop offset='0.239' stop-color='%23222222'/%3E%3Cstop offset='0.239' stop-color='%23143963'/%3E%3Cstop offset='0.254' stop-color='%23222222'/%3E%3Cstop offset='0.254' stop-color='%23142242'/%3E%3Cstop offset='0.283' stop-color='%23222222'/%3E%3Cstop offset='0.283' stop-color='%231e2833'/%3E%3Cstop offset='0.294' stop-color='%23222222'/%3E%3Cstop offset='0.294' stop-color='%2314426f'/%3E%3Cstop offset='0.305' stop-color='%23222222'/%3E%3Cstop offset='0.305' stop-color='%230d3972'/%3E%3Cstop offset='0.332' stop-color='%23222222'/%3E%3Cstop offset='0.332' stop-color='%230f3367'/%3E%3Cstop offset='0.346' stop-color='%23222222'/%3E%3Cstop offset='0.346' stop-color='%230069d4'/%3E%3Cstop offset='0.362' stop-color='%23222222'/%3E%3Cstop offset='0.362' stop-color='%23124d84'/%3E%3Cstop offset='0.381' stop-color='%23222222'/%3E%3Cstop offset='0.381' stop-color='%23073a84'/%3E%3Cstop offset='0.415' stop-color='%23222222'/%3E%3Cstop offset='0.415' stop-color='%23064796'/%3E%3Cstop offset='0.428' stop-color='%23222222'/%3E%3Cstop offset='0.428' stop-color='%2319314c'/%3E%3Cstop offset='0.442' stop-color='%23222222'/%3E%3Cstop offset='0.442' stop-color='%231d2837'/%3E%3Cstop offset='0.456' stop-color='%23222222'/%3E%3Cstop offset='0.456' stop-color='%230e4e8f'/%3E%3Cstop offset='0.498' stop-color='%23222222'/%3E%3Cstop offset='0.498' stop-color='%2321262b'/%3E%3Cstop offset='0.511' stop-color='%23222222'/%3E%3Cstop offset='0.511' stop-color='%23131b3b'/%3E%3Cstop offset='0.532' stop-color='%23222222'/%3E%3Cstop offset='0.532' stop-color='%230e2859'/%3E%3Cstop offset='0.541' stop-color='%23222222'/%3E%3Cstop offset='0.541' stop-color='%23091146'/%3E%3Cstop offset='0.56' stop-color='%23222222'/%3E%3Cstop offset='0.56' stop-color='%230c1546'/%3E%3Cstop offset='0.581' stop-color='%23222222'/%3E%3Cstop offset='0.581' stop-color='%230d2051'/%3E%3Cstop offset='0.6' stop-color='%23222222'/%3E%3Cstop offset='0.6' stop-color='%231a3855'/%3E%3Cstop offset='0.618' stop-color='%23222222'/%3E%3Cstop offset='0.618' stop-color='%230f3164'/%3E%3Cstop offset='0.656' stop-color='%23222222'/%3E%3Cstop offset='0.656' stop-color='%231c2737'/%3E%3Cstop offset='0.679' stop-color='%23222222'/%3E%3Cstop offset='0.679' stop-color='%230d4482'/%3E%3Cstop offset='0.689' stop-color='%23222222'/%3E%3Cstop offset='0.689' stop-color='%231f232b'/%3E%3Cstop offset='0.720' stop-color='%23222222'/%3E%3Cstop offset='0.720' stop-color='%2315395f'/%3E%3Cstop offset='0.734' stop-color='%23222222'/%3E%3Cstop offset='0.734' stop-color='%231e2a37'/%3E%3Cstop offset='0.748' stop-color='%23222222'/%3E%3Cstop offset='0.748' stop-color='%23022978'/%3E%3Cstop offset='0.764' stop-color='%23222222'/%3E%3Cstop offset='0.764' stop-color='%231c2839'/%3E%3Cstop offset='0.788' stop-color='%23222222'/%3E%3Cstop offset='0.788' stop-color='%23212124'/%3E%3Cstop offset='0.808' stop-color='%23222222'/%3E%3Cstop offset='0.808' stop-color='%2317223a'/%3E%3Cstop offset='0.831' stop-color='%23222222'/%3E%3Cstop offset='0.831' stop-color='%231b2031'/%3E%3Cstop offset='0.856' stop-color='%23222222'/%3E%3Cstop offset='0.856' stop-color='%23046ed1'/%3E%3Cstop offset='0.872' stop-color='%23222222'/%3E%3Cstop offset='0.872' stop-color='%231a283e'/%3E%3Cstop offset='0.894' stop-color='%23222222'/%3E%3Cstop offset='0.894' stop-color='%231b2233'/%3E%3Cstop offset='0.914' stop-color='%23222222'/%3E%3Cstop offset='0.914' stop-color='%230a4e99'/%3E%3Cstop offset='0.942' stop-color='%23222222'/%3E%3Cstop offset='0.942' stop-color='%23054ca1'/%3E%3Cstop offset='0.957' stop-color='%23222222'/%3E%3Cstop offset='0.957' stop-color='%230064cc'/%3E%3Cstop offset='0.973' stop-color='%23222222'/%3E%3Cstop offset='0.973' stop-color='%230a397b'/%3E%3Cstop offset='1' stop-color='%23222222'/%3E%3Cstop offset='1' stop-color='%23022371'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' x='0' y='0' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
  overflow: hidden;
}

.jumbotron {
  background-color: #ff8800;
  height: 200px;
}

.reset {
  background-color: #cccccc;
}

button.btn {
  background-color: #55aacc;
  border: 5px solid #222222;
  border-radius: 25px;
  padding: 25px;
  font-size: 1.5em;
  font-weight: 700;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button.btn:hover {
  background-color: #222222;
  border: 5px solid #55aacc;
  color: #55aacc;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 75px;
  margin: 10px;
}

footer p {
  color: #55aacc;  
  background-color: #222222;
  width: 100%;
  text-align: center;
  margin: 0px;
}

footer img {
  width: 100%;
  border: 1px solid #222222;
}

footer img:hover {
  border: 1px solid #55aacc;
}